#punishment {
    font-size: 1.5rem;
    list-style-type: circle;
    color: red;
}

#broken {
    font-size: 1.5rem;
    list-style-type: circle;
    color: #333;
    background-color: #e9ecef;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #dee2e6;
}
