#punishment {
    font-size: 1.5rem;
    list-style-type: circle;
    color: red;
}

#broken {
    font-size: 1.5rem;
    list-style-type: circle;
    color: #333;
    background-color: #e9ecef;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #dee2e6;
}

.punishment-item {
    margin-bottom: 15px;
    border: 1px solid #888;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

@media (prefers-color-scheme: light) {
    .punishment-item {
        background-color: #f9f9f9;
        color: #333;
    }
}

@media (prefers-color-scheme: dark) {
    .punishment-item {
        background-color: #333;
        color: #f9f9f9;
        border-color: #666;
    }
}
