#input {
    width: 100rem;
    height: 2rem;
    text-align: center;
}

#emailInput {
    width: 100rem;
    height: 2rem;
    text-align: center;
}

#passwordInput {
    width: 100rem;
    height: 2rem;
    text-align: center;
}

#signInButton {
    color: gold;
    background-color: red;
    width: 50rem;
    height: 2rem;
    text-align: center;
}

#button {
    color: gold;
    background-color: red;
    width: 50rem;
    height: 2rem;
    text-align: center;
}

#signIn {
    color: gold;
    background-color: red;
    width: 50rem;
    height: 2rem;
    text-align: center;
}

#signUp {
    color: gold;
    background-color: red;
    width: 50rem;
    height: 2rem;
    text-align: center;
}