<div>
    <h2 id="header3">Here's What We Do</h2>
    <ul id="list">
        <li>Keep Ben In Order</li>
        <li>Make Sure Ben Doesn't Cause WW3</li>
        <li>Keep The World Order Stable</li>
        <li>Keep Ben From Running For President</li>
        <li>Make Sure Ben Becomes A Potato</li>
    </ul>
</div>
